data/sc_training.h5ad
data/panglao_human.h5ad
data/scRNA_ATAC.h5
Winning_submissions/
venv/
data/submission_challenge_3_peer_review/
data/submission_challenge_3_peer_review_v2/
Deprecated_files/
peer_review_template/
template_challenge_1/
template_challenge_2/
/sc_training.h5ad
